*.o
*.lo
*.la
crf_learn
crf_test
.libs
autom4te.cache
crfpp.config
crfpp.creator*
crfpp.files
crfpp.includes
Makefile
Makefile.in
Makefile.msvc
config.log
config.status
libtool
configure
aclocal.m4
config.h*
ltmain.sh
compile
m4
*.js
*.mem
*.bc
